<!DOCTYPE html>

<html>

<head>
    <style>
        h2 {
            color: firebrick;
        }
    </style>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>{{ask}}</h4>
        <h2>{{battleRoar}}</h2>
    </div>

    {{>footer}}
</body>

</html>